
<br>
<mat-card>
  <h2>Cursos</h2>
  <label matInput for="new-course">Nome do Curso: </label>
  <textarea matInput id="new-course" #courseName></textarea>

  <button mat-raised-button color="accent" (click)="add(courseName.value); courseName.value=''">
    Adicionar Curso
  </button>
</mat-card>
<br>

<mat-card>
  <mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let course of courses">
      <mat-expansion-panel-header>
        {{ course.name }}
      </mat-expansion-panel-header>
  <button button mat-raised-button color="accent"
        (click)="delete(course)">Eliminar</button>
        &nbsp;
  <button button mat-raised-button color="accent" routerLink="/edit_course"
        [state]="course">Editar</button>
        &nbsp;
  <button button mat-raised-button color="accent" routerLink="/disciplines"
        [state]="course">Consultar Disciplinas</button>
  </mat-expansion-panel>
  </mat-accordion>
</mat-card>
