<br>
<mat-card *ngIf="evaluationComponent && course">
  <h2>{{course.name}}</h2>
  <h2>Alunos de {{evaluationComponent.name}}</h2>
  <label matInput for="new-student">Nome do Aluno: </label>
  <textarea matInput id="new-student" #studentName></textarea>

  <button mat-raised-button color="accent" (click)="add(studentName.value); studentName.value=''">
    Adicionar Aluno
  </button>
  &nbsp;
  <button mat-raised-button color="accent" routerLink="/disciplines" [state]="course">
    Voltar
  </button>

  <mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let student of students">
      <mat-expansion-panel-header>
        {{ student.name }}
      </mat-expansion-panel-header>
      <div *ngFor="let criteria of criterias">
        <div><span> {{criteria.name}} - </span>{{ criteria.percent }} %
          <button button mat-raised-button color="accent" routerLink="/grades"
            [state]="{evaluationComponent:evaluationComponent, course:course, student:student, criteria:criteria}">Adicionar Nota</button>
        </div>
        &nbsp;
      </div>
      &nbsp;
  <button button mat-raised-button color="accent" (click)=delete(student)>Eliminar</button>
        &nbsp;
  <button button mat-raised-button color="accent" routerLink="/edit_student"
        [state]="{evaluation:evaluationComponent, course:course, student:student }">Editar</button>
        &nbsp;
  <button button mat-raised-button color="accent">...</button>
  </mat-expansion-panel>
  </mat-accordion>
</mat-card>